<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qihe.zzj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.xiaomi.sdk.permission.APP" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="27"
        tools:overrideLibrary="org.opencv" />


    <application
        android:name="com.qihe.zzj.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zhengjianzhao_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xinqidian.adcommon.ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyAppTheme">

            <!-- 配置加载隐私政策和用户协议的Activity类名，需要写完整类名 -->
            <meta-data
                android:name="webViewActivity"
                android:value="com.qihe.zzj.ui.activity.WebViewActivity" />

            <!-- 配置开屏广告为加载成功之前展示的默认图，一般使用启动图片 -->
            <meta-data
                android:name="defautImage"
                android:resource="@mipmap/qidong_logo" />

            <!-- 配置开屏广告结束后跳转的目标Activity类名，需要写完整类名 -->
            <meta-data
                android:name="targetActivity"
                android:value="com.qihe.zzj.ui.MainActivity" />

            <!-- 配置隐私政策url -->
            <meta-data
                android:name="yinSiZhengCe"
                android:value="https://www.qihe.website/yinsimoban_zzj_huawei.html" />

            <!-- 配置用户协议url -->
            <meta-data
                android:name="xieYi"
                android:value="https://www.qihe.website/yonghu_xieyi_qihe.html" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qihe.zzj.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- <activity -->
        <!-- android:name=".ui.MainActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan|stateHidden"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.qihe.zzj.ui.activity.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.PhotoNormalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.PhotoAllActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.PhotoDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.Login2Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.TestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.OrderDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.ShootTipsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.SavePhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.TakePhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.EditePhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.qihe.zzj.ui.activity.InvitationRewardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.MakeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.PaySuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.zzj.ui.activity.OrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.qihe.zzj.ui.activity.KefuCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.qihe.zzj.ui.activity.QuestionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.qihe.zzj.ui.activity.MineWorksActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name="com.qihe.zzj.ui.activity.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />




        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qihe.zzj.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />


        <meta-data
            android:name="TA_APPKEY"
            android:value="Aqc1110785639" />
        <meta-data
            android:name="InstallChannel"
            android:value="common" />

        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.qihe.zzj.TENCENT.MID.V3"
            android:exported="true" >
        </provider>


    </application>

</manifest>